body{
    background-color: #fde4f2

}
div{
    text-align: center;
    margin: 55px;
  border: 3px dotted #e68bbe;

}
ul{
    display: inline-block;
    text-align: center;
}
h1,h2,h3,h4,h5,h6,p,ul,li{
    font-family: "Lucida Console";
     text-align: center;
}